<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
<div class="container">
<div class="row">
          
          <div class="wrapper">
              <div class="logo_header">
                  <a href="seedoconline.com"><img src="https://dev.seedoconline.com/img/log-font.svg"/></a>
              </div>
              <div class="email_banner">
                  
              </div>
              <div class="email_body">
                  <h1 class="text-center">Thankyou for you Visit</h1>
                  <p>
                      SeeDocOnline makes seeing a doctor simple. Our interactive healthcare services allow patients to speak to a doctor whenever and wherever they want. We have a team verified doctors from around the globe, making it possible speaking in your native language.
                  </p>
                  
                  <div class="receipt_list">
                      <div class="left_list">
                          <b>lorme IMpus fakse isishiuoeq</b>
                        
                          <span>interactive healthcare services</span>
                            <span>interactive healthcare services</span>
                              <span>interactive healthcare services</span>
                              <span>interactive healthcare services</span>
                            <span>interactive healthcare services</span>
                              <span>interactive healthcare services</span>
                          
                      </div>
                        <div class="right_list">
                          <b>lorme IMpus fakse isishiuoeq</b>
                               <span>1000.90</span>
                               <span>1000.90</span>
                               <span>1000.90</span>
                               <span>1000.90</span>
                               <span>1000.90</span>
                               <span>1000.90</span>
                      </div>
                      <span class="list_divider"></span>
                       <div class="left_list">
                           <b>interactive healthcare</b>
                            </div>
                        <div class="right_list">
                             <span><b>1000.99</b></span>
                        </div>
                  </div>
                  
                  <div class="invoice_trans">
                      <div class="invoice_left">
                          <p>Invoice Number</p>
                      </div>
                      <div class="invoice_right">
                          <p>ARSH088752178698</p>
                          </div>
                  </div>
                  <div class="invoice_trans">
                      <div class="invoice_left">
                          <p>Invoice Number</p>
                      </div>
                      <div class="invoice_right">
                          <p>ARSH088752178698</p>
                          </div>
                  </div>
              </div>
          </div>
          
</div>
</div>